.button
{
    -fx-background-color: #239c9c;
    -fx-background-radius: 30 0 0 30;

}
.button:hover
{
    -fx-background-color: #07f7f7;
    -fx-background-radius: 30 0 0 30;

}
.button:pressed
{
    -fx-background-color: #239c9c;
    -fx-background-radius: 30 0 0 30;
}